extends base

block content
    h3 #{video.title}
    span #{video.createdAt}
    br
    span created by #{video.user.username}
    hr
    a(href=`${video._id}/delete`) Delete Video &rarr;
    br
    a(href=`${video._id}/edit`) Edit Video &rarr;
